streamlit

langgraph
langchain
langchain-core
langchain-cohere
langchain-community
cohere

langchain-google-genai

langchain-groq
langchain-google-genai

faiss-cpu
pypdf

python-dotenv

pandas
numpy

pydantic

typing_extensions

sqlalchemy

ipykernel